.DS_Store
Thumbs.db
.*~
*~
node_modules
*.log*
.*.log
.pnpm-error.log
.pnpm*
.npm*
.yarn*
.nuxt
.nuxt/**/*
.nitro
.cache
.output
.env
dist
.env*
!.env.vault
!.env.project
!.env.example
package-lock.json
yarn.lock
!pnpm-lock.yaml